<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Top 10 Film</title>
</head>
<body>

<form th:method="GET" action="/top/film">
    <input type="text" name="year" placeholder="year"/>
    <input type="submit" th:value="Send"/>
</form>

<hr>
<div th:if="${films}" th:each="film : ${films}">
    <b>Позиция: </b>
    <span th:text="${film.getPosition()}"></span>
    <br>
    <b>Рейтинг: </b>
    <span th:text="'Рейтинг: ' + ${film.getRating()}"></span>
    <br>
    <b>Название фильма: </b>
    <span th:text="${film.getName()}"></span>
    <br>
    <b>Оригинальное название фильма: </b>
    <span th:text="${film.getOriginalName()}"></span>
    <br>
    <b>Год выпуска: </b>
    <span th:text="${film.getYear()}"></span>
    <br>
    <b>Количество проголосовавших людей: </b>
    <span th:text="${film.getVotes()}"></span>
    <hr>
</div>
</body>
</html>